body { background-color:#FFF; color:#000; font-size:14px; margin:0 auto; }

.card_view h1 { font-size:24px; text-align:center; font-weight:400; }
.card_view h4 { font-size:14px; text-align:center; font-weight:400; line-height:13px; }

.cv_page { background-position: center !important; background-size: cover !important; padding:1px 25px 0 25px; }

.cover_img { width: 100%; height: 150px; background-position: center !important; background-size: cover !important; margin:0; top:0; left:0; right:0; }
.cover_img img { width:100%; height:auto; }

.cover1 { width:125px; margin:-100px auto 20px auto; border-radius: 10px; overflow: hidden; left:0; right:0; background-position: center !important; background-size: cover !important; }
.cover_rectangle { width:100% !important; height:200px !important; }
.cover_square { width:100% !important; height:500px !important; }

.photo { width:125px; margin:-80px auto 20px auto; border-radius: 10px; overflow: hidden; left:0; right:0; background-position: center !important; background-size: cover !important; }
.photo_circle { width:150px !important; height:150px !important; border-radius:50% !important; }
.photo_oval { width:200px !important; height:150px !important; border-radius:50% !important; }
.photo_rectangle { width:200px !important; height:125px !important; margin-top:-85px; }
.photo_square { width:150px !important; height:150px !important; }

.quick_btns { margin: 0 auto 0 auto; padding: 0; list-style-type: none; display:table; }
.quick_btns>li { margin: 0 5px 15px 5px; padding: 0; float: left; width: 45px; height: 45px; }
.quick_btns>li>a { font-size:20px; padding: 6px 0 0 0; color: #FFF; margin: 10px 3px; display: block; border: 1px solid; border-radius: 50%; width: 45px; height: 45px; text-align: center; }

.quick_link { margin: 12px auto 0 auto; padding: 0; list-style-type: none; width: 100%; }
.quick_link li { margin:10px 0 0 0; padding:0; color:#000; display:flex; border:1px solid; font-size:16px; }
.quick_link li div.l { font-size:16px; padding:9px 0 9px 0; color: #FFF; margin:0 10px 0 0; width:15%; text-align: center; background-color: #c3c3c3; }
.quick_link li div.r { font-size:14px; padding:10px 0 8px 0; width:84%; }

.social_btns { margin:0 auto 0 auto; padding:20px 0; list-style-type: none; width:fit-content; }
.social_btns li { margin:0; padding:0; float:left; }
.social_btns li a { margin: 10px 3px 5px 3px; display: block; width: 35px; height: 35px; }
.social_btns li a img { width: 100%; height: 100%; }

.hr1, .hr2 { margin:0; }

.othr_list .ol_h { width:100%;  margin-top:10px; display:inline-block; border:1px solid #a8a3a3; }
.othr_list .ol_h:nth-child(1) { margin-top:0; }
.othr_list .ol_h .l { float:left; padding:15px 0; width:50px; text-align:center; }
.othr_list .ol_h .t { float:left; padding:12px; }
.othr_list .ol_h .p { float: right; font-size: 22px; width: 25px; height: 25px; text-align: center; border-radius: 50%; line-height: 25px; margin: 10px; }

.othr_list .ol_v { width:100%; padding:10px; background-color:#CCC; color:#000; font-size:14px; height:100%; }
.othr_list .ol_v>label { font-weight:bold; float: left; min-width: 60px; padding-right:10px; }
.othr_list .ol_p>p { border-bottom:1px solid #CCC !important; padding-bottom:5px; margin-bottom:5px; }
.othr_list .ol_p>p:nth-last-child(2) { border-bottom:0px solid #CCC !important; }
.othr_list .ol_v ul {  }

.othr_list .ol_v>labelpymt { font-weight:bold; float: left; min-width: 100px; padding-right:10px; }

.ob_list { list-style-type:none; padding:0; margin:0; }
.ob_list li { padding:0; margin:0 0 15px 0; list-style-type:none; display:flex; }
.ob_list li .lft { float:left; width:30%; }
.ob_list li .lft img { width:100%; }
.ob_list li .rgt { float:right; width:70%; padding-left:10px; font-weight:bold; position:relative; }
.ob_list li .rgt a { background-color: #b92323; color: #fff; position:absolute; bottom:0; padding: 3px 10px 4px 10px; font-size: 11px; margin-top: 15px; display: inline-block; border-radius: 4px; }

.qualification_list { list-style-type:none; padding:0; margin:0; }
.qualification_list li { padding:0; margin:0 0 0 30px; list-style-type:disc; }
.qualification_list li { padding:0; margin:0 0 0 30px; list-style-type:disc; }

.skills_list { list-style-type:none; padding:0; margin:0; }
.skills_list li { padding:0; margin:0 0 0 30px; list-style-type:disc; }
.skills_list li { padding:0; margin:0 0 0 30px; list-style-type:disc; }

#pymt_info h6 { font-size: 14px; margin: 30px 0 15px 0; padding:5px 8px; font-weight: bold; border-radius:4px; background-color:#000; color:#FFF; }
#pymt_info .instamojo_btn { background-color: #000; color: #fff; padding:3px 8px; font-size: 12px; border-radius:4px; }
.pymt_tab {margin-left: 5.5em}

#glry_info { padding:0; }
#glry_info .glr-img-box { border:0px; padding:12px 12px 0 12px; }
#glry_info .glr-img-box img { width:100%; }
#glry_info .glr-img-box h4 { font-size:13px; font-weight:600; line-height:14px; border-left: 1px solid #000; padding-left: 10px; text-align: left; margin-top:8px; }

#glry_info1 { padding: 15px;}
#glry_info1 .glr-img-box { border:0px; padding:12px 12px 0 12px; }
#glry_info1 .glr-img-box img { width:100%; }
#glry_info1 .glr-img-box h4 { font-size:13px; font-weight:600; line-height:14px; border-left: 1px solid #000; padding-left: 10px; text-align: left; margin-top:8px; }

#video_info { padding:0; }
#video_info .video-img-box { border:0px; padding:15px 15px 0 15px; }
#video_info .video-img-box h4 { font-weight:400; }
#video_info .video-img-box iframe { width:100%; }

#prod_info { padding:0; }
#prod_info .pro-img-box { border:0px; padding:15px; }
#prod_info .pro-img-box img { width:100%; }

#contact_info label { float: none; padding-right:10px; }
#contact_info .v input, #contact_info .v textarea { border:1px solid #CCC; width:100%; padding:5px 8px; margin:0 0 5px 0; border-radius:4px; }
#contact_info #cont_btn { background-color: #000; color: #FFF; padding:5px 10px; }
#contact_info #cont_msg { display:none; background-color:#c12424; width:100%; color:#FFF; padding:10px; border-radius:4px; margin-bottom:15px; text-align:center; font-size:16px; font-weight:100; }
#contact_info #cont_msg.succ { background-color:#32b71e; }

.share-menu { position: absolute; margin:11px auto 0 5px; border:1px solid #FFF; width: 45px; border-radius: 25px; transition: 0.3s border-radius ease-in-out, 0.3s height ease-in-out; display: flex; flex-direction: column; align-items: center; justify-content: center; overflow: hidden; }
.share-menu--closed { height: 45px; }
.share-menu--open{ height: 250px; }
.share-button { transition: 0.3s transform ease-in-out, 0.3s opacity ease-in-out;cursor: pointer;position: absolute;display: flex;flex-wrap: wrap;align-items: center;
width: 2em;height: 2em;left: 13px;top: 4px;opacity: 1;color:#FFF;font-size:18px;}
.share-button:hover {opacity: 0.6;}
.share-button span { width: 100%; height: 4px; background-color: #161616; border-radius: 20%; }
/*.menu--open .button{transform-origin: center;transform: rotate(90deg);}*/
.share-tools { display: flex; flex-wrap: wrap; flex-direction: column; align-items: center; justify-content: space-between; transition: 0.3s margin ease-in-out; }
.share-tools a { color:#FFF; font-size:22px; }
.share-tools .share-icon { transition: 0.2s transform ease-in-out; }
.share-tools .icon:hover { transform: scale(0.8); }
.share-tools--hidden { margin-top: 400px; z-index: -100; }
.share-tools--visible { margin-top: 40%; z-index: 100; }

.card_footer { text-align:center; padding:15px; }
.card_footer a { display:block; margin-top:10px; font-size: 11px; }
.card_footer a.add_to_card_hldr { margin:15px auto 0 auto; background-color: #000; color: #fff; padding: 3px 15px; font-size: 14px; width:70%; border-radius:4px; }
.card_footer .cpy_rgt { float:left; color:#FFF; }
.card_footer .own_an_card { font-size: 14px; font-weight:600; float:right; margin-top:7px; }
.card_footer .own_an_card a { font-size: 14px; background-color:#000; color:#FFF; padding:5px 15px; float:right; margin:-5px 0 0 5px; border-radius:20px; }

@media (min-width:500px) {
	body { width:500px; }
}


.othr_list #google_pay.show,
.othr_list #shop_now.show,
.othr_list #google_pay.collapsing,
.othr_list #shop_now.collapsing{
	display: flex;
}
.othr_list #google_pay center{
    padding: 0 10px;
}
.othr_list #shop_now .product_outer {
    padding: 0 3px;
}
.othr_list #google_pay center img,
.othr_list #shop_now .product_outer img{
	max-width: 100%;
}
@media (max-width:480px){
	ul.quick_btns.social_icons {
	margin: 0 auto;
	width: 100%;
	display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
	}
	ul.quick_btns.social_icons li {
		width: 34px;
		height: 34px;
		margin: 8px 2px;
		flex: 0 0 34px;
	}
	ul.quick_btns.social_icons li a {
		padding: 0 !important;
		width: 34px;
		height: 34px;
		margin: 0;
		font-size: 15px;
		vertical-align: middle;
		line-height: 34px;
	}
	ul.quick_btns.social_icons .clearfix{
		display:none;
	}
}
@media (max-width:390px){
	.quick_btns_div .quick_btns>li {
		width: 34px;
		height: 34px;
	}
	.quick_btns_div .quick_btns>li a{
		width: 34px;
		height: 34px;
		font-size: 16px;
		padding: 0 !important;
		margin-left: 0 !important;
		line-height: 34px;
	}
	.quick_btns_div .quick_btns>li .share-menu{
		margin-left: 0;
		width: 34px;
		height: 34px;
	}
	.quick_btns_div .quick_btns>li .share-menu .share-button {
		left: 9px;
		top: 1px;
		font-size: 16px;
	}
	.quick_btns_div .quick_btns>li .share-menu.share-menu--open {
		height: 217px;
	}
	.quick_btns_div .quick_btns>li .share-menu.share-menu--open a{
		margin-left: -3px !important;
	}
}


.card_footer {background-color:#2e2e2e;}
.card_name {background-color:#d64f00;}
.share-menu {
    background-color: #025099;
}
.quick_link li {border:1px solid #d64f00 !important ;}
.quick_link li div.l {background-color:#d64f00 ; color:#d64f00 !important; }
.othr_list .ol_h { background-color:#d64f00;}
.othr_list .ol_h .l {color:#d64f00;}
.card_name p{padding:5px;}
/*icon color setting on top*/
.quick_link li div.l {
    background-color: #025099;
    color: #d64f00 !important;
}
.quick_btns img
{
margin-top: -8px;
}

.bg-phone
{
background-color: #54135D !important;
}

.bg-wp
{
background-color: #0D9F16 !important;
}

.bg-map
{
background-color: #AC080C !important;
}

.bg-mail
{
background-color: #B85050 !important;
color: #ffffff !important;
}

.bg-fb
{
background-color: #3D71B8 !important;
}

.share-tools a
{
    border-radius: 50%;
    width: 38px;
    height: 38px;
    text-align: center;
    padding: 1px;
    margin: 4px -3px 3px -3px;
}

.quick_btns>li>a, .share-menu {
    padding: 6px 0 0 0 !important;
}

.bg-insta
{
 width:100px; height:100px;
 background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  

}

.bg-behance
{
background-color:#00A9FF;
}

.bg-dribble
{
background-color:#E74D89;
}


.bg-twitter
{
background-color:#55ACEE;
}

.bg-linkedin
{
background-color:#2797CF;
}


.bg-youtube
{
background-color:#FF0000;
}

.social_icons
{
    margin: 0 auto 0 auto;
    padding: 20px 0;
    list-style-type: none;
    width: fit-content;
}

.bg-sms
{
background-color:#00A9FF;
}


.othr_list #google_pay.show,
.othr_list #shop_now.show,
.othr_list #google_pay.collapsing,
.othr_list #shop_now.collapsing{
display: flex;
}
.othr_list #shop_now .product_outer {
padding: 0 3px;
}
.othr_list #google_pay center img,
.othr_list #shop_now .product_outer img{

max-width: 100%;
}
.othr_list #shop_now .product_outer .btn{
background-color: #d64f00;
border-color: #d64f00;
outline: 0 !important;
box-shadow: none !important;
margin-top: 5px;
width:100%;
text-align:center;
margin-bottom: 20px;
}
.othr_list #shop_now .product_outer .btn:hover,
.othr_list #shop_now .product_outer .btn:active,
.othr_list #shop_now .product_outer .btn:focus{
background-color:#15d053;
border-color: #15d053;
}
@media (max-width:767px){
ul.quick_btns.social_icons{
padding: 5px 0;
}
}
@media (max-width:500px){
.othr_list #shop_now{
flex-wrap: wrap;
}
.othr_list #shop_now .product_outer{
flex:0 0 50%;
width: 50%;
max-width: 50%;
padding-bottom: 8px;
}
.othr_list #shop_now .product_outer:nth-child(3),
.othr_list #shop_now .product_outer:nth-child(4){
padding-bottom: 0;
}
}

 .st-image-share-buttons {
display: none !important;
}
